@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');

/* font-family: 'Bangers', cursive; */
/* font-family: 'Teko', sans-serif; */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    width: 100%;
}

.side-tab {
    background: #000000;
    position: fixed;
    width: 300px;
    height: 100%;
    transition: all ease .3s;
}

.brand-logo {
    font-family: 'Bangers', cursive;
    font-size: 50px;
    text-align: center;
    padding: 18px;
    color: #ffffff;
}

.profile-data {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: -10px;
}

.profile-data img {
    height: 170px;
    width: 180px;
    border: 5px solid #ffffff;
    border-radius: 50%;
    margin-bottom: 10px;
}

.profile-data h2 {
    font-family: 'Teko', sans-serif;
    font-size: 35px;
    letter-spacing: 1px;
    color: #ffffff;
}

.profile-data p {
    font-family: 'Teko', sans-serif;
    margin-top: -5px;
    margin-bottom: 5px;
    font-size: 20px;
    letter-spacing: 1px;
    color: #ffffff;
}

.profile-data hr {
    width: 80%;
}

.side-tab-items {
    text-align: center;
    list-style: none;
    font-family: 'Teko', sans-serif;
    margin-top: 15px;
}

.side-tab-item {
    font-size: 30px;
    padding: 5px;
    transition: all ease .3s;
}

.side-tab-link {
    text-decoration: none;
    background: transparent;
    color: #ffffff;
    display: block;
    transition: all ease .3s;
}

.side-tab-link i {
    width: 60px;
}

.side-tab-link:hover {
    background: #ffffff;
    color: #000000;
}

.side-tab-item:hover {
    background: #ffffff;
    color: #000000;
}

.footer p {
    color: #ffffff;
    text-align: center;
    margin-top: 10px;
    font-family: 'Teko', sans-serif;
    font-size: 18px;
    letter-spacing: 1px;
}

.social-link-items {
    display: flex;
    list-style: none;
    text-align: center;
    justify-content: space-evenly;
}

.social-link-item {
    margin: 0 -10px 0 -10px;
}

.social-link {
    color: #ffffff;
    font-size: 30px;
    display: inline-block;
    border-radius: 5px;
    width: 30px;
    transition: all ease .3s;
}

.social-link:hover {
    color: #000000;
    font-size: 30px;
    background: #ffffff;
}

.main-content {
    margin-left: 300px;
    transition: all ease .3s;
}

.main-nav {
    height: 80px;
    background: #000000;
    display: flex;
    align-items: center;
}

.ham-button {
    margin-left: 10px;
    width: 40px;
    height: 40px;
    background: transparent;
    outline: none;
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 5px;
    cursor: pointer;
    transition: all ease .3s;
}

.ham-button:hover {
    background: #ffffff;
    color: #000000;
}


.ham-icon {
    font-size: 30px;
    border-radius: 5px;
}

.collapsed-side-tab {
    background: #000000;
    width: 100px;
    position: fixed;
    height: 100%;
    text-align: center;
    padding: 10px 0px 10px 0px;
    transform: translateX(-100px);
    transition: all ease .3s;
}

.collapsed-brand-logo {
    color: #ffffff;
    font-size: 60px;
    font-family: 'Bangers', cursive;
}

.collapsed-side-tab-items {
    margin-top: 80px;
    height: 400px;
    width: 100%;
    list-style: none;
}

.collapsed-side-tab-item {
    height: 80px;
}

.collapsed-side-tab-link {
    color: #ffffff;
    display: block;
    height: 100%;
    text-decoration: none;
    font-size: 50px;
    transition: all ease .3s;
}

.collapsed-side-tab-link:hover {
    background: #ffffff;
    color: #000000;
}

.collapsed-side-tab-link-icon {
    margin-top: 15px;
}

.cus-collapsed-side-tab {
    transform: translateX(0px);
}

.cus-side-tab {
    transform: translateX(-300px);
}